@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ff2f00;
  --foreground: #171717;
  --buttons: #68248c;
}


* {
  margin: 0;
  box-sizing: border-box;
}

/* main {
  margin-top: -50px;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Global styles in your main stylesheet */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--buttons);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--buttons);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.custom-shape-divider-bottom-1731961434 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731961434 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1731961434 .shape-fill {
  fill: #FF2F00;
}

